{% extends 'portal/layout.html.twig' %}

{% block clipboard %}
    <h1 class="app-portal-title">{{ portal.title|capitalize }}</h1>
    <section class="app-portal-description">
        <p class="app-paragraph">
            {{ 'Онлайн справочник грамматики английского языка с подробным изложением особенностей употребления частей речи, а также построения английских предложений. (@DESCRIPTION)' }}
        </p>
    </section>
    {% if general_theories %}
        <section class="app-portal__layer">
            {% for general_theory in general_theories %}
                <div class="app-portal-category-card">
                    <a href="{{ path('theory_show', {
                        'portal_name': portal.slug,
                        'name': general_theory.slug
                    }) }}">
                        <p class="app-portal-category-card__title">{{ general_theory.title }}</p>
                        <p class="app-portal-category-card__caption">{{ general_theory.caption }}</p>
                    </a>
                </div>
            {% endfor %}
        </section>
    {% endif %}
    {% if has_topics or has_articles or has_lyrics %}
        <section class="app-portal__layer">
            {% if has_topics %}
                <div class="app-portal-category-card app-portal-category-card__sub">
                    <a href="#">
                        <p class="app-portal-category-card__title">
                            {{ 'category.topics.self'|trans({}, 'portal') }}
                        </p>
                        <p class="app-portal-category-card__caption">
                            {{ 'category.topics.caption'|trans({}, 'portal') }}
                        </p>
                    </a>
                </div>
            {% endif %}
            {% if has_articles %}
                <div class="app-portal-category-card app-portal-category-card__sub">
                    <a href="#">
                        <p class="app-portal-category-card__title">
                            {{ 'category.articles.self'|trans({}, 'portal') }}
                        </p>
                        <p class="app-portal-category-card__caption">
                            {{ 'category.articles.caption'|trans({}, 'portal') }}
                        </p>
                    </a>
                </div>
            {% endif %}
            {% if has_lyrics %}
                <div class="app-portal-category-card app-portal-category-card__sub">
                    <a href="#">
                        <p class="app-portal-category-card__title">
                            {{ 'category.lyrics.self'|trans({}, 'portal') }}
                        </p>
                        <p class="app-portal-category-card__caption">
                            {{ 'category.lyrics.caption'|trans({}, 'portal') }}
                        </p>
                    </a>
                </div>
            {% endif %}
        </section>
    {% endif %}
    {% if table_of_content %}
        <section class="app-portal__layer">
            {% include 'portal/components/table-of-content.html.twig' with {
                'portal_name': portal.slug,
                'items': table_of_content
            } only %}
        </section>
    {% endif %}
{% endblock %}
