{% extends 'portal/layout.html.twig' %}

{% block clipboard %}
    {% if breadcrumbs %}
        {% include 'portal/components/breadcrumbs.html.twig' with {
            'breadcrumbs': breadcrumbs|slice(0, breadcrumbs|length - 1)
        } only %}
    {% endif %}
    <h1 class="app-theory-title">{{ theory.caption|capitalize }}</h1>
    <div class="app-theory-neighbors">
        <div class="app-theory-neighbors__item">
            {% if previous %}
                <a href="{{ path('theory_show', {
                       'portal_uri': portal_uri,
                       'uri': previous.uri
                   }) }}">
                    <span class="app-mdi"><i class="mdi mdi-chevron-left"></i></span>
                    {{ previous.caption }}
                </a>
            {% endif %}
        </div>
        <div class="app-theory-neighbors__item">
            {% if next %}
                <a href="{{ path('theory_show', {
                    'portal_uri': portal_uri,
                    'uri': next.uri
                }) }}">
                    {{ next.caption }}
                    <span class="app-mdi"><i class="mdi mdi-chevron-right"></i></span>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="app-theory__layer">
        <section class="app-theory-content">
            {{ theory.formattedContent|raw|nl2br }}
        </section>
    </div>
    {% if table_of_content %}
        <hr class="app-separator">
        <section class="app-theory__layer">
            <h3 class="app-portal-table-of-content__category">{{ table_of_content_title }}</h3>
            {% include 'theory/components/table-of-content.html.twig' with {
                'portal_uri': portal_uri,
                'theories': table_of_content,
                'current_id': theory.id
            } only %}
        </section>
    {% endif %}
    {% if breadcrumbs and _setting('theory_show_bottom_breadcrumbs') %}
        {% include 'portal/components/breadcrumbs.html.twig' with {
            'breadcrumbs': breadcrumbs,
            'disable_last': true,
            'bottom': true
        } only %}
    {% endif %}
{% endblock %}
