<header class="app-homepage-header">
    {% if _setting('global_show_topbar') %}
        <section class="app-homepage-header__topline">{{ 'topline' }}</section>
    {% endif %}
    <section class="app-homepage-header__layout">
        {% include 'components/logo.html.twig' with {
            'logo': logo
        } only %}
        <section class="app-homepage-header__workspace">
            <blockquote class="app-homepage-header__quote">
                {{ 'some interesting quote' }}
            </blockquote>
            <div class="app-homepage-header__actions">
                <button type="button" name="user">{{ 'U' }}</button>
                <button type="button" name="lang">{{ 'L' }}</button>
                <button type="button" name="search">{{ 'S' }}</button>
            </div>
        </section>
    </section>
</header>
