{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        {% block meta %}
            <meta charset="UTF-8"/>
            <meta name="viewport" content="initial-scale=1"/>
        {% endblock %}
        {% block seo %}
            {# @TODO: SEO service #}
            <title>{% block title %}{{ 'title'|trans({}, 'seo') }}{% endblock %}</title>
            <meta name="description" content="{% block description %}{{ 'description'|trans({}, 'seo') }}{% endblock %}">
            <meta name="keywords" content="{% block keywords %}{{ 'keywords'|trans({}, 'seo') }}{% endblock %}">
        {% endblock %}
        {% block css %}{% endblock %}
        {% block links %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
            <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css" rel="stylesheet">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% endblock %}
        {% block window %}
            <script>
                window.app_locale = "{{ app.request.locale }}";
            </script>
        {% endblock %}
    </head>

    <body class="app-body">
        {% block body %}
            {% if _setting('global_show_topbar') %}
                <section class="app-topline">{{ 'topline' }}</section>
            {% endif %}

            {% block header %}
                {{ render(controller('App\\Controller\\CommonController::renderHeader', {
                    'route': route,
                    'routeParams': route_params,
                    'url': app.request.uri
                })) }}
            {% endblock %}

            <main class="app-main">
                {% block menu %}
                    {{ render(controller('App\\Controller\\CommonController::renderMenu')) }}
                {% endblock %}

                <div class="app-main-content">
                    {% block main %}
                        <section class="app-clipboard {% block clipboard_class %}{% endblock %}">
                            {% block clipboard %}{% endblock %}
                        </section>

                        {% block sidebar %}
                            {{ render(controller('App\\Controller\\CommonController::renderSidebar')) }}
                        {% endblock %}
                    {% endblock %}
                </div>
            </main>

            {% block footer %}
                {{ render(controller('App\\Controller\\CommonController::renderFooter', {
                    'route': route,
                    'routeParams': route_params,
                    'url': app.request.uri
                })) }}
            {% endblock %}
        {% endblock %}
        {% block js %}{% endblock %}
        {% block modal %}{% endblock %}
    </body>
</html>
