{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        {% block meta %}
            <meta charset="UTF-8"/>
            <meta name="viewport" content="initial-scale=1"/>
        {% endblock %}
        {% block seo %}
            {# TODO: SEO service #}
            <title>{% block title %}{{ 'default.title'|trans({}, 'seo') }}{% endblock %}</title>
            <meta name="description" content="{% block description %}{{ 'default.description'|trans({}, 'seo') }}{% endblock %}">
            <meta name="keywords" content="{% block keywords %}{{ 'default.keywords'|trans({}, 'seo') }}{% endblock %}">
        {% endblock %}
        {% block css %}{% endblock %}
        {% block links %}{% endblock %}
        {% block window %}
            <script>
                window.app_locale = "{{ app.request.locale }}";
            </script>
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% block body %}{% endblock %}
        {% block js %}{% endblock %}
        {% block modal %}{% endblock %}
    </body>
</html>
