{% set classes = bottom is not defined or bottom is null
    ? 'app-theory-breadcrumbs'
    : 'app-theory-breadcrumbs app-theory-breadcrumbs__bottom'
%}

<nav class="{{ classes }}">
    {% for breadcrumb in breadcrumbs %}

        {% if disable_last is defined and disable_last and loop.last %}
            <span>{{ breadcrumb.title }}</span>
        {% else %}
            <a href="{{ breadcrumb.link }}">{{ breadcrumb.title }}</a>
        {% endif %}

        {% if not loop.last %}{{ '>' }}{% endif %}
    {% endfor %}
</nav>
